@model ThAmCo.Events.Data.Staffing

@{
    ViewData["Title"] = "CreateStaffEvent";
}

<h2>Create Staff Event</h2>

<h4>Staff Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label">Staff :</label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label">Event Title :</label>
                <input type="text" value="@Model.Event.Title" class="form-control" disabled />
                <select asp-for="EventId" asp-items="ViewBag.EventId" class="form-control hidden" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EventIndex">Back to Events</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

