@model ThAmCo.Events.ViewModels.Venues.VenueCreateModel

@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create an Event</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" placeholder="HH:mm" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" readonly />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueCode" class="control-label"></label>
                <input asp-for="VenueCode" class="form-control" readonly />
                <span asp-validation-for="VenueCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueCost" class="control-label"></label>
                <input asp-for="VenueCost" class="form-control" readonly />
                <span asp-validation-for="VenueCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <div class="form-group text-danger">
                @TempData["msg"] <br>
                <b>@TempData["msgDuration"] </b>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VenueIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
